* {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
}

.searchsize{
  width: 200px;
}

.searchsizebtn{
  width: 100px;
  cursor: pointer;
}

.searchform{
  padding:  10px;
  padding-top: 0;
  padding-left: 20px;
}

.subtitle{
  padding-bottom: 0;
}


/*===============================
削除フラッシュメッセージ
================================*/
.flash_message{
  margin: 0 auto;
  width: 100%;
  height: 10%;
  /* height: 80px; */
  padding: 10px;
  background-color: #ff0831;
  /* border-radius: 10px; */
  position: relative;
  top: 0px;
  z-index: 999;
}
.flash_message p{
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

/*===============================
背景
================================*/


#canvas {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: -1;
        }

#wrrap  {
        position:absolute;
        top:0;
        left:0;
        }


/*===============================
募集中の案件一覧表
================================*/

body {
  width: 100%;
}

h2 {
    text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px -6px #00000073;
  table-layout: fixed;
  width: 100%;
    /* width: 1100px; */
}

table tr {
  background-color: #fff;
}

table th,
table td {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  /* border-left:  1px solid #eee; */
  text-align: center;
  font-size: 12px;
}
table td {
  border-left:  1px solid #eee;
}

table  th {
  width: 20%;
  padding: 10px 0;
  font-size: 14px;
  padding: 15px;
  /* background-color: #FFC107; */
    background-color: #4A54A4;
  color:#fff;
}

table tr{
  text-align: center;
  width: 20%;
  padding: 20px 0;
  background-color: #fff;
  color:#3a3a3a;
}

table tr:hover{
  background-color: #d4faff;
}

/* 開始日と終了日の幅狭く */
.shape{
  width: 20%;
}
/* 勤務日数の幅狭く */
.shape2{
  width: 15%;
}

/*===============================
応募ボタン
================================*/

/* 応募ボタンクリック */
.btn,
a.btn,
button.btn {
  /* font-size: 1.6rem; */
  font-weight: 700;
  /* line-height: 1.5; */
    line-height: 3;
  position: relative;
  display: inline-block;
  /* padding: 1rem 4rem; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/* 黄色 */
a.btn--yellow {
  color: #000;
  /* background-color: #fff100; */
  /* border-bottom: 5px solid #ccc100; */
  background-color:#FFC107;
  border-bottom: 5px solid #bd910f;
}

/* 黄色ホバー */
a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  /* background: #fff20a;
  border-bottom: 2px solid #ccc100; */
  background:#e0a800;
  border-bottom: 2px solid #a17a0a;
}

/*****************************************************/
/* 削除ボタン */
/* 赤色 */
a.btn--red {
  color: #fff;
  /* background-color: #fff100; */
  /* border-bottom: 5px solid #ccc100; */
  background-color:#ff0831;
  border-bottom: 5px solid #c2302a;
}

/* 赤色ホバー */
a.btn--red:hover {
  margin-top: 3px;
  color: #fff;
  /* background: #fff20a;
  border-bottom: 2px solid #ccc100; */
  background:#cc0627;
  border-bottom: 2px solid #c2302a;
}

/*****************************************************/
/* 編集ボタン */
/* 緑色 */
a.btn--green {
  color: #000;
  /* backgroaund-color: #fff100; */
  /* border-bottom: 5px solid #ccc100; */
  background-color:#07e69b;
  border-bottom: 5px solid #05b35c;
}

/* 緑色ホバー */
a.btn--green:hover {
  margin-top: 3px;
  color: #000;
  /* background: #fff20a;
  border-bottom: 2px solid #ccc100; */
  background:#05b379;
  border-bottom: 2px solid #05994f;
}

/*===============================
下の3つのボタン
================================*/
/* 緑色 */
a.btn--tir {
  color: #fff;
  /* backgroaund-color: #fff100; */
  /* border-bottom: 5px solid #ccc100; */
  background-color:#505cb3;
  border-bottom: 5px solid #454f99;
}

/* 緑色ホバー */
a.btn--tir:hover {
  margin-top: 3px;
  color: #fff;
  /* background: #fff20a;
  border-bottom: 2px solid #ccc100; */
  background:#4a54a4;
  border-bottom: 2px solid #455399;
}

/* 案件募集をする */
.recruit{
  width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}
/* 協力会社ユーザ登録一覧 */
.userlist{
  width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}

/* 応募を見る */
.recruitlist{
  width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}


/*===============================
応募までの流れ
================================*/
.setsumei{
  width: 60%;
  margin: 0 auto;
  padding-bottom: 50px;
}
